body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 50px 0;
    padding: 0;
}




.container {
    background-color: burlywood;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 720px;
    width: 720px;
    margin: 0;
    padding: 0;
}


/* 
.box:hover {
    background-color: blue;
} */

.pink {
    background-color: pink;
}

.squares {
    /* Green */
    border: none;
    color: black;
    padding: 5px 12px;
    margin: 0 5px 20px 5px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
}

.submit:hover {
    background-color: beige;
    border: 1px solid black;
}